h1 {
  color: lightsteelblue;
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.card {
  border: solid;
  border-color: lightgrey;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card-image {
  width: 33%;
  align-self: center;
}

.card-body {
  width: 66%;
}

.hidden {
  display: none;
}

.button {
  color: black;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  border: 1px;
  padding: 8px;
}

.button-row {
  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: center;
  margin: 10px;
}

.checked {
  background-color: steelblue;
}

.unchecked {
  background-color: lightgray;
}
